
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');

body {
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    text-align: center;
   
}

#quote-container {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dadada;
    max-width: 70%;
    margin: auto;
}

#generate-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #10A37F;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#quote-text{
    font-family: 'Stardos Stencil', system-ui;
    font-size: 30px;
}

#author{
    text-align: right;
    margin-top: 20px;
    color: #10A37F;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
